@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/node_modules/flowbite/dist/flowbite.css';

.hover\:bg-pink-500:hover {
    background-color: rgb(231 70 148);
}

.border-pink-500 {
    border-color: rgb(231 70 148);
}

.hover\:rounded-none:hover {
    border-radius: 0px;
}

.hover\:border-b:hover {
    border-bottom-width: 1px;
}

@media (min-width: 800px) {
    .lg\:pt-0 {
        padding-top: 0px;
    }
}

.hover\:border-pink-400:hover {
    border-color: rgb(241 126 184);
}

.hover\:border-pink-500:hover {
    border-color: rgb(231 70 148);
}

.focus\:border-pink-400:focus {
    border-color: rgb(241 126 184);
}

.text-pink-500 {
    color: rgb(231 70 148);
}

.border-pink-600 {
    border-color: rgb(214 31 105);
}

.hover\:text-pink-500:hover {
    color: rgb(231 70 148);
}